
/* ########################################### */
/* ##                  VARS                 ## */
/* ########################################### */

:root{
    --background-color: #1a1a1a;
    --text-color: #ddcec3;
    --sub-text-color: #a59991;
    --accent: #ffae00;

    --border-radius-block:20px; 
    
} 

/* ########################################### */
/* ##                END VARS               ## */
/* ########################################### */


/* ------------------------------------------------------------------------------------------ */


/* ########################################### */
/* ##                GENERIC                ## */
/* ########################################### */

.noShow{
    display: none;
}

body{
    background-color:  var( --background-color);
    color: var(--text-color);
    margin: 0 auto;
    width: 100vw;

}

.wrapper{
    max-width: 80%;
    margin: auto;

}

.flex{
    display:flex;
    flex-wrap: wrap;
}


main{
    text-align: center;
    margin: auto;
    margin-bottom: 3rem;
}



/* ########################################### */
/* ##               END GENERIC             ## */
/* ########################################### */


/* ------------------------------------------------------------------------------------------ */


/* ########################################### */
/* ##                 HEADER                ## */
/* ########################################### */


header{
    text-align: center;
    margin: 2rem auto 2rem auto;
}
header h1 {
    margin: auto;
    padding-bottom: .2rem;
    display: inline-block;
    font-size: 2.5rem;
    border-bottom: 6px dotted var(--accent);
}

header p {
    font-size: 1.5rem;
}

/* ########################################### */
/* ##               END HEADER              ## */
/* ########################################### */


/* ------------------------------------------------------------------------------------------ */


/* ########################################### */
/* ##                  FORM                 ## */
/* ########################################### */

/* ------------------| TEXTAREA |------------------- */

.textArea{
    margin: 0 auto;
    box-sizing: border-box;
    background-color: var(--background-color);
    border: 2px solid var(--text-color);
    border-radius: var(--border-radius-block);
    width: 100%;
    max-width: 1024px;
    color: var(--text-color);
    padding: 1rem;
    font-size: 1rem;

}


.textArea:focus{
    border: 2px solid var(--accent);
    
}



/* ------------------| BUTTONS |------------------- */


.button-wrapper{

    margin: 1.5rem auto;
    max-width: 800px;
    justify-content: space-evenly;


}

.btn {
    margin-top: .5rem;
}

.form-btn{
    text-align: center;
    border-radius: var(--border-radius-block);
    font-size: 1.2rem;
    font-weight: 600;
    padding: .8rem 0;
    width: 8rem;
    border: 2px solid var(--background-color);

}

.form-btn:hover:enabled{
background-color: var(--background-color);
 border-radius: var(--border-radius-block) ;
color: var(--text-color);
border: 2px solid var(--accent);

}
.form-btn:active:enabled{
    background-color: var(--background-color);
    border-radius: var(--border-radius-block) ;
    color: var(--text-color);
    border: 2px solid var(--accent);
    
    }


/* ------------------| RESULT |------------------- */


.result-wrapper{
    display: block;
    box-sizing: border-box;
    max-width: 1024px;
    min-width: 300px;
    margin:  0 auto;
    text-align: center;
    border-radius: var(--border-radius-block);
    padding: 1rem;
    border: 2px solid var(--text-color);
}
.result-wrapper p{
    overflow: auto;
    max-width: 400px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--sub-text-color);

}



/* ########################################### */
/* ##                END FORM               ## */
/* ########################################### */


/* ------------------------------------------------------------------------------------------ */


/* ########################################### */
/* ##                  MAIN                 ## */
/* ########################################### */
main{
    display: flex;
    max-width: 1020px;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content: center;
    margin-top: 0;
    margin-bottom: 2rem;
}
section{
    align-self: flex-start;
    margin: 0 auto;


}

section > img{
    width: 100%;
    overflow: auto;

}

/* ########################################### */
/* ##                END MAIN               ## */
/* ########################################### */


/* ------------------------------------------------------------------------------------------ */


/* ########################################### */
/* ##                Footer               ## */
/* ########################################### */


footer{
    border-top: 3px dotted var(--accent);
    position: absolute;
    bottom: 0%;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    background-color: var(--background-color);
}

footer a{
    font-size: 1em;
    font-weight: 600;
    font-family: monospace;
    text-decoration:none;
    color: var(--accent);
    
}
footer a:hover{
    border-bottom: 3px dotted var(--accent);

    
}

@media screen and (max-height:650px){
    footer{
        position: static;
    }
}
@media screen and (max-width:824px){
    footer{
        position: static;
    }
}

/* ########################################### */
/* ##              END Footer               ## */
/* ########################################### */


/* ------------------------------------------------------------------------------------------ */

/* 
1 - Dividir la páginas en dos secciones de forma horizontal (deben estar lado a lado);
2 - Insertar campo de texto para el usuário escribir su mensaje en la primera sección;
3 - Incluir la información de que solo se aceptarán letras minúsculas y no se aceptarán caracteres especiales.

4 - No olvides incluir la imagen en el campo de cifrado/descifrado y el logotipo. 
*/
